/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/


/*------------------------------ 1160 ------------------------------*/
@media (max-width: 1160px) {
	.services {
		&__cards {
			display: grid;
			grid-template: 1fr 1fr / 1fr 1fr;
			justify-items: center;
			max-width: 800px;
			margin: 0 auto;
		}

		&__card {
			margin-bottom: 50px;
		}
	}

	.best {
		&__card {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			img {
				width: 100%;
			}
		}
	}

	.companies {
		&__cards {
			display: grid;
			grid-template: 1fr 1fr / 1fr 1fr;
			justify-items: center;
			max-width: 600px;
			margin: 0 auto;
		}

		&__card {
			margin-bottom: 20px;
		}
	}

	.footer {

		&__content {
			min-width: auto;
			max-width: none;
			flex: 0 1 auto;
		}

		&__columns {
			flex-direction: column;
		}

		&__column {
			min-width: 220px;
			margin-right: 0;
		}

		&__column-heading {
			margin-bottom: 14px;
		}

		&__column-list {
			margin-bottom: 20px;
			height: 0;
			overflow: hidden;
			transition: all .3s;

			&--active {
				height: 100px;
			}
		}
	}
}


/*------------------------------ 1040 ------------------------------*/
@media (max-width: 1040px) {
	.block {
		display: block;
		padding-bottom: 540px;

		&__inner {
			display: block;
			max-width: 554px;
			margin: 0 auto;
		}

		&__image-box {
			display: none;
		}
	}
}

/*------------------------------ 915 ------------------------------*/
@media (max-width: 915px) {
	.footer {
		&__image {
			display: none;
		}

		&__columns {
			flex-direction: row;
			justify-content: space-evenly;
			// max-width: 1000px;
		}

		&__column-list {
			height: 100%;
		}

		&__inner {}

		&__content {
			width: 100%;
		}
	}
}


/*------------------------------ 890 ------------------------------*/
@media (max-width: 890px) {
	.best {
		margin-bottom: 1290px;

		&__cards {
			flex-direction: column;
			align-items: center;
		}

		&__card {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}

/*------------------------------ 775 ------------------------------*/

@media (max-width: 775px) {
	.header {

		&__top {
			display: none;
		}

		&__aside {
			display: flex;
			flex-direction: column;
			min-width: 320px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			background: $yellow;
			height: 100vh;
			transform: translateX(100%);
			transition: all .3s;
		}

		&__aside--open {
			transform: translateX(0%);
		}

		&__aside-inner {
			background: $red;
			height: 150px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
			// display: none;
		}

		&__aside-bottom {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__aside-link {
			display: block;
			font-size: 14px;
			line-height: 24px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			color: #ba0000;
			-webkit-transition: font-weight 0.1s;
			-o-transition: font-weight 0.1s;
			transition: font-weight 0.1s;
		}

		&__lang {
			margin-right: 0;
		}

		&__aside-menu {
			height: 100%;
			max-height: 500px;
			padding: 20px 0;
		}

		&__aside-list {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		&__menu {
			display: none;
		}

		&__body {
			padding: 10px 0;
		}


		&__burger {
			width: 50px;
			height: 50px;
			z-index: 3;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			cursor: pointer;
			position: relative;
			transition: all .3s;
			margin-left: 20px;

			&-line {
				width: 40px;
				height: 3px;
				border-radius: 4px;
				background: $red;
				transition: all .3s;
			}

			&--active {
				transform: rotate(45deg);

				.header__burger-line {
					background: $yellow;

					&:first-child,
					&:last-child {
						transform: rotate(90deg);
						position: absolute;
					}
				}
			}
		}

		&__search {
			margin-left: auto;
		}
	}

	.hero {
		padding-top: 90px;
		background: url('../img/hero/hero_bg_overlay.png') no-repeat center / cover, url('../img/hero/hero-bg.jpg') center 70px / cover no-repeat;
	}
}

/*------------------------------ 750 ------------------------------*/
@media (max-width: 750px) {
	.footer {
		&__columns {
			flex-direction: column;
		}

		&__content {
			padding: 0 20px;
		}

		&__column-list {
			height: 0;

			&--active {
				height: 100px;
			}
		}

	}
}


/*------------------------------ 700 ------------------------------*/
@media (max-width: 700px) {
	.excellence {
		&__inner {
			flex-direction: column;
		}

		&__text {
			margin-bottom: 40px;
		}
	}
}

/*------------------------------ 620 ------------------------------*/
@media (max-width: 620px) {
	.services {
		&__heading-text {
			width: 100%;
			text-align: center;
		}

		&__cards {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.companies {
		&__cards {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}


/*------------------------------ 560 ------------------------------*/
@media (max-width: 560px) {
	.acc {
		&__tab {
			&--active {
				.acc__content {
					height: 190px;
				}
			}
		}
	}
}

/*------------------------------ 520 ------------------------------*/

@media (max-width: 520px) {
	.main-heading {
		font-size: 52px;
		margin-bottom: 40px;
	}

	.best {
		padding-top: 100px;

		&__heading {
			font-size: 40px;
		}
	}
}

/*------------------------------ 420 ------------------------------*/
@media (max-width: 420px) {
	.hero {
		&__tags {
			flex-direction: column;
		}

		&__text {
			font-size: 18px;
		}

		&__button-box {
			flex-direction: column;
		}

		&__button {
			margin-bottom: 10px;
			max-width: 180px;
			text-align: center;
		}
	}

	.best {
		&__heading {
			font-size: 30px;
		}
	}
}

/*------------------------------ 370 ------------------------------*/

@media (max-width: 370px) {
	.main-heading {
		font-size: 40px;
		line-height: 50px;
	}

	.acc {
		&__link-text {
			font-size: 12px;
		}

		&__content-title {
			font-size: 12px;
		}
	}
}