/*==================================== VARS ====================================*/
/*==================================== VARS ====================================*/

$red: #ba0000;
$dark-red: #9d0000;
$dark-red-2: #a30000;
$yellow: #ffcc00;
$white: #fff;